params.outdir = 'results'
params.group  = 'viral'

process {
    cpus = 2
    memory = '2 GB'
    time = '1h'
}

profiles {
    singularity {
        singularity.enabled = true
        process.container = 'containers/phiflow.sif'
    }

    conda {
        conda.enabled = true
    }

    standard {
        // fallback profile
    }
}


report {
    enabled = true
    file = "${params.outdir}/report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.tsv"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.png"
}


